/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Variables */

:root {
  --social-bg: #212A3A;
  --black-grey: #32425C;
  --dark-blue: #293449;
  --dark-blueblack: #1D2739;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greyborder: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #ffffff;
  --special-yellow: #FFBF47;
  --special-yellowblack: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --error: #BA2732;
  --greylight: #EAEAEA;
  --black: #000000;
  --decor-grey: #A9A9A9;
  --title-grey: #F9F5F0;
  --grey: #F3F7F9;
  --yellow: #FFDA96;
  --background: #F2F6F8;
  --filter: #F7F3EC;
  --basic-green-black: #518534;
  --wight-5: rgba(255, 255, 255, 0.5);
  --wight-3: rgba(255, 255, 255, 0.3);
  --grey-popup: #F4F4F4;
  --popup-order-grey: #F1F1F1;
  --black-bg-link: #161D29;
  --black-3: rgba(0, 0, 0, 0.3);
  --intro-button-hover: rgba(197, 197, 197, 0.3);
  --intro-button-active: rgba(169, 169, 169, 0.3);
  --slider-toggle: #ababab;
  --box-shadow-logo: rgba(0, 0, 0, 0.24);
  --box-shadow-buy: #367315;
  --box-shadow-card: rgba(0, 0, 0, 0.15);
  --box-shadow-service: #405069;
  --bg-scale: #D7DCDE;
  --bg-toggle: #ababab;
  --box-shadow-toggle: #cfcfcf;
}

/* Global */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 940px;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--basic-background);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: var(--wight);
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--error);
}

.page-main {
  background-color: var(--wight);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

/* header */

.page-header__wrap--background {
  background-color: var(--dark-blue);
}

.page-header__wrap {
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header__logo-link {
  width: 220px;
  height: 51px;
  background-color: var(--basic-red);
  -webkit-box-shadow: inset 0px -5px 0px var(--box-shadow-logo);
  box-shadow: inset 0px -5px 0px var(--box-shadow-logo);
  text-align: center;
  padding-top: 17px;
}

.page-header__logo-img:active {
  background-color: var(--error);
}

.page-header__search-form {
  position: relative;
}

.page-header__search {
  outline: none;
  width: 271px;
  line-height: 27px;
  border: none;
  background-color: var(--dark-blue);
  padding-left: 42px;
}

.page-header__search::-webkit-input-placeholder {
  color: var(--wight);
  font-size: 18px;
  line-height: 24px;
}

.page-header__search::-moz-placeholder {
  color: var(--wight);
  font-size: 18px;
  line-height: 24px;
}

.page-header__search:-ms-input-placeholder {
  color: var(--wight);
  font-size: 18px;
  line-height: 24px;
}

.page-header__search::-ms-input-placeholder {
  color: var(--wight);
  font-size: 18px;
  line-height: 24px;
}

.page-header__search::placeholder {
  color: var(--wight);
  font-size: 18px;
  line-height: 24px;
}

.page-header__search:focus {
  background-color: var(--wight);
  color: var(--black);
  border: none;
}

.page-header__search--svg {
  position: absolute;
  fill: var(--wight);
  opacity: 0.5;
  background-color: transparent;
  left: 17px;
  top: 5px;
}

.page-header__search:focus+.page-header__search--svg {
  fill: var(--basic-red);
  opacity: 1;
}

.page-header__wrap-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.link {
  list-style: none;
  color: var(--wight);
}

.page-header__bookmark-link {
  position: relative;
  padding: 10px 30px 9px 42px;
}

.page-header__bookmark-link--red {
  padding: 10px 39px 8px 41px;
}

.page-header__bookmark-link:active {
  color: var(--wight-5);
  background-color: var(--black-bg-link);
}

.page-header__bookmark-link::before {
  content: " ";
  position: absolute;
  left: 19px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.page-header__bookmark-link:hover::before {
  opacity: 1;
}

.page-header__bookmark-link:active::before {
  opacity: 0.5;
}

.page-header__cart-link {
  position: relative;
  padding: 10px 27px 9px 43px;
}

.page-header__cart-link:active {
  color: var(--wight-5);
  background-color: var(--black-bg-link);
}

.page-header__cart-link::before {
  content: " ";
  position: absolute;
  left: 20px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.page-header__cart-link:hover::before {
  opacity: 1;
}

.page-header__cart-link:active::before {
  opacity: 0.5;
}

.page-header__carts-link--red {
  background-color: var(--basic-red);
  padding: 10px 21px 8px 36px;
  max-height: 42px;
}

.page-header__carts-link--red::before {
  content: " ";
  position: absolute;
  left: 12px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.page-header__order-link {
  background-color: var(--basic-green);
  padding: 10px 16px 9px 19px;
  max-height: 42px;
}

.page-header__order-link:hover {
  background-color: var(--success);
}

.page-header__order-link:active {
  color: var(--wight-5);
}

.page-header__wrap-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 46px;
  padding-bottom: 41px;
}

.page-header__title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: var(--basic-red);
  -ms-flex-preferred-size: 197px;
  flex-basis: 197px;
  padding-left: 30px;
  padding-right: 95px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.page-header__wrap-communication {
  text-align: center;
}

.page-header__tel-link {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--wight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 45px 5px 69px;
}

.page-header__tel-link::before {
  content: "";
  position: absolute;
  background-image: url(../images/icon-phone.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  left: 34px;
  top: 10px;
}

.page-header__text {
  font-size: 14px;
  line-height: 24px;
  color: var(--black-grey);
  padding-top: 2px;
  padding-right: 6px;
}

.page-header__wrap-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: auto;
}

.page-header__user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--wight);
  padding-right: 2px;
}

.page-header__user {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 56px;
}

.page-header__user:active {
  color: var(--basic-greylight);
}

.page-header__user-picture--catalog {
  position: absolute;
  top: 13px;
  left: 16px;
}

.page-header__user:hover .page-header__user-picture--catalog {
  fill: var(--black-grey);
}

.page-header__user:active .page-header__user-picture--catalog {
  fill: var(--basic-greylight);
}

.page-header__logout-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 14px 14px 20px;
}

.page-header__logout-picture--catalog {
  fill: var(--basic-greylight);
}

.page-header__logout-link:hover .page-header__logout-picture--catalog {
  fill: var(--basic-grey);
}

.page-header__logout-link:active .page-header__logout-picture--catalog {
  fill: var(--basic-greylight);
}

.user-link {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--wight);
  padding: 12px 24px;
}

.page-header__login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 28px 12px 19px;
  margin-right: 10px;
}

.page-header__login-link:hover {
  color: var(--basic-red);
}

.page-header__login-link:hover .page-header__login-picture {
  fill: var(--basic-grey);
}

.page-header__login-picture {
  fill: var(--basic-greylight);
  margin-right: 6px;
}

.page-header__login-link:active .page-header__login-picture {
  fill: var(--basic-greylight);
}

.page-header__registration-link:hover {
  color: var(--basic-red);
}

.user-link:active {
  color: var(--basic-greylight);
}

.page-header__user-link {
  margin-left: auto;
  font-size: 16px;
  line-height: 18px;
  color: var(--black-grey);
}

.page-header__navigation {
  padding-bottom: 60px;
}

.page-header__wrap-navigation {
  background-color: var(--black-grey);
  -webkit-box-shadow: inset 0px -5px 0px var(--dark-blue);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.page-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.page-header__nav-item {
  padding-top: 16px;
  padding-bottom: 20px;
}

.page-header__nav-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  padding: 16px 24px 20px 27px;
}

.page-header__nav-link--left {
  padding-left: 52px;
}

.page-header__nav-link--right {
  padding-right: 47px;
}

.page-header__nav-link:hover {
  background-color: var(--dark-blue);
}

.page-header__nav-link:active {
  background-color: var(--dark-blueblack);
  color: var(--wight-5);
}

.page-header__wrap-user {
  display: block;
  margin-left: auto;
}

.page-header__user-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-header__user-item {
  position: relative;
  padding-right: 32px;
  padding-top: 4px;
}

.page-header__user-item:last-child {
  padding-right: 0;
}

.page-header__user-item:first-child::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 15px;
  right: 13px;
  background-color: var(--black-grey);
  border-radius: 50%;
}

.page-header__user-link:hover {
  color: var(--basic-red);
}

.page-header__user-link:active {
  color: var(--basic-greylight);
}

.page-header__user-text {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  padding: 12px 57px 12px 56px;
}

.page-header__user-text:active {
  color: var(--basic-greylight);
}

/* Intro */

.intro {
  background-color: var(--wight);
  padding-top: 59px;
  padding-bottom: 59px;
}

.intro__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.intro__list-side {
  padding-bottom: 0;
}

.intro__item {
  width: 300px;
  height: 123px;
  padding: 20px 22px 22px 22px;
  margin-right: 20px;
}

.intro__item:last-child {
  margin-right: 0;
}

.intro__item--special-yellow {
  position: relative;
  background-color: var(--special-yellow);
  background-image: url(../images/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 30px;
  padding-left: 23px;
}

.intro__item--special-blue {
  background-color: var(--special-blue);
  background-image: url(../images/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 194px 33px;
}

.intro__item--special-lilac {
  background-color: var(--special-lilac);
  background-image: url(../images/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 30px;
}

.intro__item--special-greenlight {
  background-color: var(--special-greenlight);
  background-image: url(../images/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 25px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 23px;
}

.intro__item--special-yellowblack {
  background-color: var(--special-yellowblack);
  background-image: url(../images/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
  margin-left: 20px;
}

.intro__item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--wight);
  padding-bottom: 13px;
}

.intro__item-title--greenlight {
  padding-bottom: 11px;
}

.intro__item-title--yellowblack {
  padding-bottom: 12px;
}

.intro__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--wight-3);
  width: 135px;
  padding: 10px 0;
}

.intro__item-link:hover {
  background-color: var(--intro-button-hover);
}

.intro__item-link:active {
  background-color: var(--intro-button-active);
}

.intro-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-slider__img {
  width: 620px;
  height: 266px;
}

.intro-slider__list {
  list-style: none;
}

.intro-slider__item {
  display: none;
  position: relative;
  width: 620px;
  height: 266px;
}

.intro-slider__item--active {
  display: block;
}

.intro-slider__title {
  position: absolute;
  left: 24px;
  top: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--wight);
}

.intro-slider__text {
  position: absolute;
  left: 24px;
  top: 65px;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
}

.intro-slider__button {
  position: absolute;
  padding: 0;
  border: none;
  width: 21px;
  height: 39px;
  cursor: pointer;
}

.intro-slider__button--back {
  left: 25px;
  top: 122px;
  background-image: url(../images/icon-left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-slider__button--forward {
  right: 22px;
  top: 120px;
  background-image: url(../images/icon-right.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-slider__link {
  position: absolute;
  left: 24px;
  bottom: 28px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 46px 9px 47px;
}

.intro-slider__button-point {
  position: absolute;
  background-color: var(--wight);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.intro-slider__button-point--one {
  bottom: 36px;
  left: 295px;
}

.intro-slider__button-point--two {
  bottom: 36px;
  left: 315px;
}

.intro-slider__button-point--active {
  background-color: var(--basic-red);
  border: 2px solid var(--wight);
}

/* product */

.product-title__wrap {
  background-color: var(--title-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 89px;
}

.product-link__buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-green);
  -webkit-box-shadow: inset 0px -3px 0px var(--box-shadow-buy);
  box-shadow: inset 0px -3px 0px var(--box-shadow-buy);
  border-radius: 2px;
  padding: 10px 40px 10px 53px;
  position: relative;
  margin-bottom: 10px;
  margin-top: -4px;
}

.product-link__buy::before {
  content: " ";
  background-image: url("../images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 10px;
  position: absolute;
  opacity: 0.4;
}

.product-link__buy:hover {
  background-color: var(--success);
}

.product-link__buy:active {
  background-color: var(--basic-green-black);
}

.product-link__bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-grey);
  padding: 8px 0 6px 0;
  width: 100%;
  text-align: center;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.product-link__bookmarks:hover {
  border: 3px solid var(--black-grey);
}

.product-link__bookmarks:active {
  opacity: 0.5;
}

.product__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 220px 20px 220px 20px 220px;
  grid-template-columns: 220px 220px 220px 220px;
  -ms-grid-rows: 318px;
  grid-template-rows: 318px;
  gap: 20px;
  list-style: none;
  padding-top: 19px;
  padding-bottom: 70px;
}

.product__list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.product__list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.product__list>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.product__list>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.product__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-grey);
  padding-left: 28px;
  font-weight: normal;
}

.product__item {
  font-family: "PT Sans", Arial, sans-serif;
}

.product__item:first-child {
  margin-left: 0;
}

.product-title__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 24px 9px;
  margin-right: 14px;
  margin-bottom: 4px;
}

.card__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  padding-top: 20px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 28px;
}

.card__item-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--decor-grey);
  text-transform: uppercase;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  padding-bottom: 13px;
}

.card__item-text {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-red);
}

.card-item__wrap-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding-bottom: 20px;
  text-align: center;
}

.card-wrap__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-right: 9px;
  padding-top: 6px;
}

.card-wrap__item-img--size {
  padding-right: 2px;
  margin-bottom: -11px;
}

.price__text {
  position: relative;
  text-align: center;
  width: 121px;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-right: 7px;
}

.price__text::after {
  content: "";
  position: absolute;
  border: 19px solid transparent;
  border-left: 20px solid var(--basic-red);
  top: 0;
  right: -39px;
}

.price__title--padding {
  padding-bottom: 38px;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: var(--wight);
  border: 1px solid var(--greylight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card__item:hover {
  -webkit-box-shadow: 0px 4px 20px var(--box-shadow-card);
  box-shadow: 0px 4px 20px var(--box-shadow-card);
}

.card-item__wrap-buy {
  display: none;
}

.card__item:hover .card-wrap__item-img {
  display: none;
}

.card__item:hover .card-item__wrap-buy {
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 38px 44px 27px 41px;
}

.card__item--new {
  position: relative;
}

.card__item--new::after {
  content: "";
  position: absolute;
  background-image: url(../images/catalog-new.svg);
  background-repeat: no-repeat;
  width: 100px;
  height: 70px;
  top: 0;
  right: -30px;
}

.manufacturer-title__wrap {
  background-color: var(--title-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 89px;
}

.manufacturer__list {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 220px 20px 220px 20px 220px;
  grid-template-columns: 220px 220px 220px 220px;
  -ms-grid-rows: 145px 20px 145px;
  grid-template-rows: 145px 145px;
  gap: 20px;
}

.manufacturer__list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.manufacturer__list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.manufacturer__list>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.manufacturer__list>*:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.manufacturer__list>*:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.manufacturer__list>*:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.manufacturer__list>*:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.manufacturer__list>*:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.manufacturer__item:hover {
  -webkit-box-shadow: 0px 4px 20px var(--box-shadow-card);
  box-shadow: 0px 4px 20px var(--box-shadow-card);
}

.manufacturer__item:active {
  opacity: 0.5;
}

.manufacturer__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black-grey);
  padding-left: 28px;
}

.manufacturer-title__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 38px 9px 39px;
  margin-right: 19px;
}

.manufacturer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--wight);
  border: 1px solid var(--greylight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
}

.manufacturer__img {
  margin: auto;
}

.manufacturer__img--padding {
  padding-bottom: 13px;
}

/* service */

.service {
  background-color: var(--basic-background);
}

.service__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 64px;
  padding-bottom: 25px;
}

.service__subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 70px;
  width: 396px;
}

.service__container {
  display: block;
  padding-bottom: 99px;
}

.service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__list {
  position: relative;
  list-style: none;
}

.service__list::after {
  content: "";
  position: absolute;
  background-image: url(../images/shadow-wall.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  top: -45px;
  right: 0px;
}

.service__title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--wight);
  background-color: var(--black-grey);
  border: none;
  width: 240px;
  height: 62px;
  -webkit-box-shadow: 0px 1px 0px var(--dark-blue),
    inset 0px 1px 0px var(--box-shadow-service);
  box-shadow: 0px 1px 0px var(--dark-blue),
    inset 0px 1px 0px var(--box-shadow-service);
}

.service__title-button:hover {
  background-color: var(--dark-blue);
  color: var(--wight);
}

.service__title-button:active {
  color: var(--black-grey);
  background-color: var(--wight);
}

.service__title-button--active {
  color: var(--black-grey);
  background-color: var(--wight);
  -webkit-box-shadow: 0px 1px 0px var(--wight);
  box-shadow: 0px 1px 0px var(--wight);
}

.service-item__list {
  position: relative;
  list-style: none;
  padding-left: 80px;
}

.service-item__item {
  display: none;
}

.service-item__item--active {
  display: block;
}

.service-item__item--delivery::after {
  content: "";
  position: absolute;
  background-image: url(../images/delivery.png);
  background-repeat: no-repeat;
  width: 468px;
  height: 261px;
  right: -336px;
  bottom: -125px;
}

.service-item__item--guarantee::after {
  content: "";
  position: absolute;
  background-image: url(../images/guarantee.png);
  background-repeat: no-repeat;
  width: 389px;
  height: 283px;
  right: -308px;
  bottom: -106px;
}

.service-item__item--credit::after {
  content: "";
  position: absolute;
  background-image: url(../images/credit.png);
  background-repeat: no-repeat;
  width: 465px;
  height: 285px;
  right: -321px;
  bottom: -112px;
}

.service-item__title {
  display: block;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: var(--black-grey);
}

.service-item__title-guerantee {
  padding-bottom: 24px;
}

.service-item__title-credit {
  padding-bottom: 28px;
}

.service-item__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  width: 283px;
}

.service-item__text-guerantee {
  width: 319px;
}

.service-item__text-credit {
  width: 309px;
}

.service-item__text-delivery {
  width: 220px;
  padding: 0;
}

.service-item__button {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 44px 10px 46px;
  border-radius: 3px;
  margin-top: 27px;
}

/* feature */
.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0;
}

.feature {
  background-color: var(--wight);
}

.feature__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
}

.feature__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-top: 24px;
  padding-bottom: 3px;
}

.feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 35px;
}

.feature__item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 11px;
  padding-left: 2px;
}

.feature__item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -35px;
  top: 11px;
}

.feature__item:last-child {
  padding-bottom: 20px;
}

.feature__button {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 40px 9px 40px;
}

.contact__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 24px;
}

.contact__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 32px;
}

.contact__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact__img {
  padding-bottom: 19px;
}

/* footer */

.footer-nav__logo-link {
  background-color: var(--basic-red);
  -webkit-box-shadow: inset 0px -5px 0px var(--box-shadow-logo);
  box-shadow: inset 0px -5px 0px var(--box-shadow-logo);
  padding: 20px 41px 25px;
  margin-bottom: 23px;
  width: 220px;
  height: 68px;
}

.footer-nav__logo-link:active {
  background-color: var(--error);
}

.footer-nav {
  background-color: var(--black-grey);
}

.footer-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-nav__wrap-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-nav__text {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey);
  padding-left: 2px;
}

.footer-nav__tel-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey);
  padding-left: 3px;
}

.footer-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-bottom: 34px;
}

.footer-nav__item {
  padding-left: 59px;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-nav__link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav__wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer-nav__list--yellow {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-nav__link--yellow {
  color: var(--yellow);
}

.footer-basement {
  background-color: var(--dark-blue);
}

.footer-basement__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 29px;
}

.footer-info {
  padding-bottom: 4px;
}

.footer-info__text {
  padding-left: 2px;
  font-size: 16px;
  line-height: 18px;
  color: var(--wight);
}

.footer-social {
  padding-left: 161px;
}

.footer-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 41px;
  height: 40px;
  background-color: var(--social-bg);
  border-radius: 50%;
  margin: 2px;
}

.footer-social__button:hover,
.footer-social__button:active {
  background-color: var(--basic-red);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-copyright__box {
  padding-left: 51px;
}

.footer-copyright__box:first-child {
  padding-left: 0;
}

.footer-copyright__box:last-child {
  padding-right: 13px;
}

.footer-copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--wight);
  padding-bottom: 1px;
}

.footer-copyright__link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--yellow);
  padding-left: 1px;
  padding-bottom: 6px;
}

.footer-copyright__link:hover {
  text-decoration: underline;
}

.footer-copyright__link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* page-catalog */

.page-catalog {
  background-color: var(--wight);
}

.page-catalog__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-bottom: 20px;
}

.page-catalog__item {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 41px;
}

.page-catalog__item--img {
  background-image: url(../images/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 3px;
  width: 14px;
  height: 15px;
  margin-right: 41px;
}

.page-catalog__item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: -23px;
  background-image: url(../images/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-catalog__item:last-child::after {
  display: none;
}

.page-catalog__link {
  padding-right: 1px;
  color: var(--black);
}

.page-catalog__link--img {
  display: block;
  width: 14px;
  height: 12px;
}

.page-catalog__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black-grey);
  background-color: var(--background);
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

/* filters */

.main-catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
  margin-right: 20px;
}

.filters__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters__title {
  padding: 10px 151px 10px 18px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--filter);
}

.filter-slider {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-slider__range {
  width: 220px;
  margin-top: 13px;
  border-bottom: 1px solid var(--greylight);
  width: 220px;
  padding-bottom: 25px;
}

.filter-slider__range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter);
  border-radius: 3px;
}

.filter-slider__scale {
  height: 2px;
  background: var(--bg-scale);
}

.filter-slider__bar {
  width: 80%;
  height: 2px;
  background: var(--special-greenlight)
}

.filter-slider__toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid var(--wight);
  background-color: var(--bg-toggle);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--box-shadow-toggle);
  box-shadow: 0 2px 1px 0 var(--box-shadow-toggle);
  cursor: pointer;
}

.filter-slider__toggle::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--slider-toggle);
  border-radius: 50%;
  left: -2px;
  top: -2px;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.filter-slider__price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-slider__price-controls input {
  width: 95px;
  padding: 9px 6px 11px 21px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 3px;
  background-color: var(--filter);
}

.min-price {
  position: relative;
}

.min-price::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: var(--black);
  right: -20px;
  top: 18px;
}

.filter-slider__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 12px;
}

.filter-checkbox {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-checkbox__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 16px;
  padding-bottom: 15px;
}

.filter-checkbox__list {
  list-style: none;
  margin: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid var(--greylight);
  padding-left: 35px;
}

.filter-checkbox__item {
  padding-bottom: 20px;
}

.filter-checkbox__label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.filter-checkbox__input {
  position: absolute;
}

.filter-checkbox__box {
  position: absolute;
  width: 26px;
  height: 23px;
  background-image: url(../images/checkbox-off.svg);
  background-repeat: no-repeat;
  margin-left: -35px;
}

.filter-checkbox__input:checked+.filter-checkbox__box {
  background-image: url(../images/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-checkbox__input:hover+.filter-checkbox__box,
.filter-checkbox__input:focus+.filter-checkbox__box {
  background-image: url(../images/checkbox-off-hover.svg);
  background-repeat: no-repeat;
}

.filter-checkbox__input:checked:hover+.filter-checkbox__box,
.filter-checkbox__input:checked:focus+.filter-checkbox__box {
  background-image: url(../images/checkbox-on-hover.svg);
  background-repeat: no-repeat;
}

.filter-checkbox__input:disabled+.filter-checkbox__box {
  opacity: 0.3;
}

.filter-radio {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-radio__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 19px;
  padding-bottom: 23px;
}

.filter-radio__list {
  list-style: none;
  padding-bottom: 16px;
  padding-left: 35px;
}

.filter-radio__item {
  padding-bottom: 22px;
}

.filter-radio__label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.filter-radio__input {
  position: absolute;
}

.filter-radio__box {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../images/radio-off.svg);
  background-repeat: no-repeat;
  background-color: var(--wight);
  margin-left: -35px;
}

.filter-radio__input:checked+.filter-radio__box {
  background-image: url(../images/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-radio__input:hover+.filter-radio__box,
.filter-radio__input:focus+.filter-radio__box {
  background-image: url(../images/radio-off-hover.svg);
  background-repeat: no-repeat;
}

.filter-radio__input:checked:hover+.filter-radio__box,
.filter-radio__input:checked:focus+.filter-radio__box {
  background-image: url(../images/radio-on-hover.svg);
  background-repeat: no-repeat;
}

.filter-radio__input:disabled+.filter-radio__box {
  opacity: 0.3;
}

.filter-form__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--wight);
  border: 1px solid var(--basic-greyborder);
  padding: 10px 80px;
  margin-left: -2px;
}

.filter-form__button:hover {
  border: 1px solid var(--basic-greylight);
}

.filter-form__button:focus {
  outline: var(--basic-red);
}

/* catalog */

.catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-nav__wrap {
  background-color: var(--filter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
}

.catalog-nav__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--filter);
  padding: 10px 140px 10px 19px;
}

.catalog-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-nav__item {
  padding-right: 72px;
  padding-bottom: 6px;
}

.catalog-nav__item:nth-child(2) {
  padding-right: 65px;
}

.catalog-nav__item:nth-child(3) {
  padding-right: 46px;
}

.catalog-nav__item:nth-child(4) {
  padding-right: 21px;
}

.catalog-nav__item:last-child {
  padding-right: 0;
}

.catalog-nav__link {
  fill: var(--black-3);
  color: var(--black-3);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--basic-red);
}

.catalog-nav__link:hover {
  fill: var(--black);
  color: var(--black);
  border-bottom: 1px solid var(--basic-red);
}

.catalog-nav__link:focus {
  fill: var(--basic-red);
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

.catalog-nav__link--up {
  border-bottom: none;
}

.catalog-nav__link--down {
  border-bottom: none;
}

.catalog-nav__link--active {
  color: var(--basic-red);
  fill: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px 220px 20px 220px;
  grid-template-columns: 220px 220px 220px;
  -ms-grid-rows: 318px 18px 318px 18px 318px;
  grid-template-rows: 318px 318px 318px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 18px;
  list-style: none;
  padding-top: 28px;
}

.catalog__list>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog__list>*:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog__list>*:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.catalog__list>*:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.catalog__list>*:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.catalog__list>*:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.catalog__list>*:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.catalog__list>*:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.catalog__list>*:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.catalog__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--black);
}

.catalog__subtitle {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--decor-grey);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 52px;
  padding-bottom: 69px;
}

.pagination__item {
  padding-right: 9px;
  background-color: var(--wight);
}

.pagination__link {
  border: 1px solid var(--basic-greyborder);
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.pagination__link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination__link:active {
  border: 1px solid var(--basic-red);
}

.pagination__link--active {
  color: var(--wight);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination__link--next {
  padding: 10px 31px 10px 32px;
}

/* catalog-footer */

.catalog-footer {
  background-color: var(--basic-background);
}

.catalog-footer__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 64px;
  padding-bottom: 25px;
}

.catalog-footer__wrap-text {
  padding-bottom: 68px;
}

.catalog-footer__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

/* popup-write */

.popup-write {
  margin: 0 auto;
  width: 620px;
  height: 430px;
  -webkit-box-shadow: 0px 4px 20px var(--box-shadow-card);
  box-shadow: 0px 4px 20px var(--box-shadow-card);
  border-top: 7px solid var(--basic-red);
  background-color: var(--wight);
}

.popup-write__form-wrap {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 35px;
  padding-bottom: 34px;
}

.popup-write__label {
  display: block;
  padding-bottom: 11px;
}

.popup-write__label--textarea {
  padding-top: 13px;
}

.popup-write__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup-write__input {
  width: 220px;
  height: 38px;
  background-color: var(--wight);
  border: 2px solid var(--basic-greylight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 12px;
}

.popup-write__input::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__input::-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__input:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__input::-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea {
  width: 460px;
  background-color: var(--wight);
  border: 2px solid var(--basic-greylight);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 7px 12px;
}

.popup-write__textarea::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea::-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea::-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__button-wrap {
  background-color: var(--grey-popup);
  padding: 37px 80px;
}

.popup-write__button {
  width: 460px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-red);
  color: var(--wight);
}

.popup-write__button:active {
  background-color: var(--error);
}

.modal {
  position: relative;
}

.popup-button__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup-button__close::before,
.popup-button__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 28px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 2px;
}

.popup-button__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-button__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* popup-map */

.popup-map {
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 20px var(--box-shadow-card);
  box-shadow: 0px 4px 20px var(--box-shadow-card);
  border-top: 7px solid var(--basic-red);
}

.popup-map__wrap {
  width: 943px;
  height: 449px;
  background-image: url(../images/popup-map.png);
}

/* popup-order */

.popup-order {
  margin: 0 auto;
  width: 620px;
  height: 282px;
  border-top: 7px solid var(--basic-red);
}

.popup-order__wrap-text {
  background-color: var(--wight);
}

.popup-order__text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url(../images/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 85px 45px;
}

.popup-order__wrap-link {
  background-color: var(--popup-order-grey);
  text-align: center;
}

.order-wrap__link {
  padding-top: 37px;
  padding-bottom: 37px;
}

.popup-order__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 46px 9px 47px;
  color: var(--wight);
  background-color: var(--basic-red);
}

.popup-order__link:active {
  background-color: var(--error);
}

.popup-order__link--wigth {
  background-color: var(--wight);
  color: var(--black);
  margin-left: 10px;
  border: 1px solid var(--wight);
}

.popup-order__link--wigth:active {
  background-color: var(--wight);
  border: 1px solid var(--basic-red);
}

.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
