    /* Variables */

:root {
  --social-bg: #212A3A;
  --black-grey: #32425C;
  --dark-blue: #293449;
  --dark-blueblack: #1D2739;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greyborder: #E5E5E5;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #ffffff;
  --special-yellow: #FFBF47;
  --special-yellowblack: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --error: #BA2732;
  --greylight: #EAEAEA;
  --black: #000000;
  --decor-grey: #A9A9A9;
  --title-grey: #F9F5F0;
  --grey: #F3F7F9;
  --yellow: #FFDA96;
  --background: #F2F6F8;
  --filter: #F7F3EC;
  --basic-green-black: #518534;
  --wight-5: rgba(255, 255, 255, 0.5);
  --wight-3: rgba(255, 255, 255, 0.3);
  --grey-popup: #F4F4F4;
}

    /* Global */

*, *::before, *::after {
  box-sizing: border-box;
}    

body {
  min-width: 940px;
  font-family: "Cuprum", Arial, sans-serif;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--basic-background);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: var(--wight);
  background-color: var(--basic-red);
}

.button:active {
  background-color: var(--error);
}

.page-main {
  background-color: var(--wight);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

  /* header */

.page-header__wrap--background {
  background-color: var(--dark-blue);
}

.page-header__wrap {
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
}

.page-header__logo-img {
  background-color: var(--basic-red);
  padding: 12px 57px 17px 55px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.page-header__logo-img:active {
  background-color: var(--error);
}

.page-header__search {
  border: none;
  background-color: var(--dark-blue);
}

.page-header__search::placeholder {
  color: var(--wight);
}

.page-header__search:focus {
  background-color: var(--wight);
  color: var(--black);
}

.link {
  list-style: none;
  color: var(--wight);
}

.page-header__bookmark-link:active {
  opacity: 0.5;
}

.page-header__cart-link:active {
  opacity: 0.5;
}

.page-header__order-link {
  background-color: var(--basic-green);
  padding: 9px 16px;
}

.page-header__order-link:hover {
  background-color: var(--success);
}

.page-header__order-link:active {
  color: var(--wight-5);
}

.page-header__wrap-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: var(--basic-red);
  flex-basis: 197px;
}

.page-header__wrap-communication {
  padding: 41px 0;
  text-align: center;
}

.page-header__tel-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid var(--wight);
  box-sizing: border-box;
  padding: 8px 45px 8px 39px;
}

.page-header__tel-img {
  vertical-align: middle;
  margin-right: 16px;
}

.page-header__text {
  font-size: 14px;
  line-height: 24px;
  color: var(--black-grey);
  padding-top: 10px;
}

.user-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--wight);
  padding: 12px 24px;
}

.page-header__login-link {
  background-image: url(../images/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 18px 15px;
  padding: 12px 24px 12px 45px;
  margin-right: 10px;
}

.user-link:hover {
  color: var(--basic-red);
}

.user-link:active {
  color: var(--basic-greylight);
}

.page-header__navigation {
  padding-bottom: 60px;
}

.page-header__wrap-navigation {
  background-color: var(--black-grey);
  box-shadow: inset 0px -5px 0px var(--dark-blue);
}

.page-header__nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.page-header__nav-item {
 padding-top: 16px;
 padding-bottom: 20px;
}

.page-header__nav-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
  padding: 16px 24px 20px 27px;
}

.page-header__nav-link:hover {
  background-color: var(--dark-blue);
}

.page-header__nav-link:active {
  background-color: var(--dark-blueblack);
  color: var(--wight-5);
}

.page-header__user-list {
  list-style: none;
}

.page-header__user-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--black-grey);
}

.page-header__user-link:hover {
  color: var(--basic-red);
}

.page-header__user-link:active {
  color: var(--basic-greylight);
}

.page-header__user-text {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.page-header__user-text:active {
  color: var(--basic-greylight);
}

    /* Intro */

.intro {
  background-color: var(--wight);
}    

.intro__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro__item {
  width: 300px;
  height: 123px;
  padding: 20px 22px;
}

.intro__item--special-yellow {
  background-color: var(--special-yellow);
  background-image: url(../images/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 205px 55px;
}

.intro__item--special-blue {
  background-color: var(--special-blue);
}

.intro__item--special-lilac {
  background-color: var(--special-lilac);
}

.intro__item--special-greenlight {
  background-color: var(--special-greenlight);
  margin-left: 20px;
  margin-bottom: 20px;
}

.intro__item--special-yellowblack {
  background-color: var(--special-yellowblack);
  margin-left: 20px;
}

.intro__item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--wight);
}

.intro__item-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  padding: 10px 23px;
  background-color: var(--wight-3);
}

.intro__item-link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.intro__item-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.intro-slider__wrap {
  display: flex;
  justify-content: space-between;
}

.intro-slider__list {
  list-style: none;
}

.intro-slider__item {
  position: relative;
  width: 620px;
  height: 266px;
}

.intro-slider__item--active {
  display: none;
}

.intro-slider__title {
  position: absolute;
  left: 24px;
  top: 23px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--wight);
}

.intro-slider__text {
  position: absolute;
  left: 24px;
  top: 65px;
  font-size: 18px;
  line-height: 24px;
  color: var(--wight);
}

.intro-slider__button {
  position: absolute;
  padding: 0;
  border: none;
  width: 21px;
  height: 39px;
}

.intro-slider__button--back {
  left: 25px;
  top: 120px;
  background-image: url(../images/icon-left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-slider__button--forward {
  right: 25px;
  top: 120px;
  background-image: url(../images/icon-right.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.intro-slider__link {
  position: absolute;
  left: 24px;
  bottom: 27px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 46px 9px;
}

    /* product */

.product-title__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-link__buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  padding: 10px 40px 10px 53px;
  position: relative;
}

.product-link__buy::before {
  content: " ";
  background-image: url("../images/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  left: 30px;
  top: 10px;
  position: absolute;
  opacity: 0.4;
}

.product-link__buy:hover {
  background-color: var(--success);
}

.product-link__buy:active {
  background-color: var(--basic-green-black);
}

.product-link__bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-grey);
  padding: 7px 33px 8px 34px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-sizing: border-box;
}

.product-link__bookmarks:hover {
  border: 3px solid var(--black-grey);
}

.product-link__bookmarks:active {
  opacity: 0.5;
}

.product-title__wrap {
  background-color: var(--title-grey);
}

.product__list {
  list-style: none;
  display: flex;
}

.product__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-grey);
}

.product__item {
  font-family: "PT Sans", Arial, sans-serif;
  margin-left: 20px;
}

.product__item:first-child {
  margin-left: 0;
}

.product-title__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 24px 9px;
}

.product__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.product__item-subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--decor-grey);
  text-transform: uppercase;
  text-decoration-line: line-through;
}

.product__item-text {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-red);
}

.price__text {
  padding: 10px 44px 10px 32px;
}

.card__item {
  background-color: var(--wight);
  border: 1px solid var(--greylight);
  box-sizing: border-box;
}

.manufacturer-title__wrap {
  background-color: var(--title-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manufacturer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.manufacturer__item {
  width: 220px;
  height: 145px;
}

.manufacturer__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-grey);
}

.manufacturer-title__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 38px 9px 39px;
}

.manufacturer__link {
  background-color: var(--wight);
  border: 1px solid var(--greylight);
  box-sizing: border-box;
  width: 220px;
  height: 145px;
}

    /* service */

.service {
  background-color: var(--basic-background);
}

.service__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.service__subtitle {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.service__container {
  display: flex;
}

.service__list {
  list-style: none;
}

.service__title-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--wight);
  background-color: var(--black-grey);
  border: none;
}

.service__title-button:hover {
  background-color: var(--dark-blue);
  color: var(--wight);
}

.service__title-button:active {
  color: var(--black-grey);
  background-color: var(--wight);
}

.service__title-button--active {
  color: var(--black-grey);
  background-color: var(--wight);
}

.service-item__list {
  list-style: none;
}

.service-item__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-grey);
}

.service-item__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.service-item__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 9px 40px;
  border-radius: 3px;
}

    /* feature */
.feature__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 70px 0;
}

.feature {
  background-color: var(--wight);
}

.feature__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.feature__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-top: 24px;
}

.feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature__item {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 12px;
}

.feature__item:last-child {
  padding-bottom: 20px;
}

.feature__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 40px 9px 40px;
}

.contact__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 24px;
}

.contact__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 32px;
}

.contact__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
}

.contact__wrap {
  display: flex;
  flex-direction: column;
}

    /* footer */

.footer-nav__logo-link {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding: 21px 41px 21px;
  margin-bottom: 22px;
}

.footer-nav__logo-link:active {
  background-color: var(--error);
}

.footer-nav {
  background-color: var(--black-grey);
}

.footer-nav__wrap {
  display: flex;
  justify-content: space-between;
}

.footer-nav__wrap-logo {
  display: flex;
  flex-direction: column;
}

.footer-nav__text {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey);
}

.footer-nav__tel-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey);
}

.footer-nav__list {
  list-style: none;
  display: flex;
}

.footer-nav__list--yellow {
  list-style: none;
  display: flex;
}

.footer-nav__item {
  padding-left: 58px;
}

.footer-nav__item:hover {
  text-decoration: underline;
}
.footer-nav__item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav__link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-nav__link--yellow {
  color: var(--yellow);
}

.footer-basement {
  background-color: var(--dark-blue);
}

.footer-basement__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--wight);
}

.footer-social__list {
  list-style: none;
  display: flex;
}

.footer-social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-bg);
  border-radius: 50%;
  margin: 2px; 
}

.footer-social__button:hover,
.footer-social__button:active {
  background-color: var(--basic-red);
}

.footer-copyright {
  display: flex;
}

.footer-copyright__box {
  padding-left: 51px;
}

.footer-copyright__box:first-child {
  padding-left: 0;
}

.footer-copyright__text {
  font-size: 16px;
  line-height: 18px;
  color: var(--wight);
}

.footer-copyright__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--yellow);
}

.footer-copyright__link:hover {
  text-decoration: underline;
}

.footer-copyright__link:active {
  color: var(--basic-red);
  text-decoration: none;
}

    /* page-catalog */

.page-catalog {
  background-color: var(--wight);
}

.page-catalog__list {
  list-style: none;
  display: flex;
}

.page-catalog__item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 17px;
}

.page-catalog__link {
  color: var(--black);
}

.page-catalog__item--img {
  background-image: url(../images/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
}

.page-catalog__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-grey);
  background-color: var(--background);
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

    /* filters */

.filters {
  font-family: "PT Sans", Arial, sans-serif;
}

.filters__wrap {
  display: flex;
}

.filters__title {
  display: inline;
  padding: 10px 151px 10px 18px;
  border-radius: 5px;
  font-size:13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--filter);
}

.filter-slider {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-slider__range {
  width: 220px;
  margin-top: 15px;
  border-bottom: 1px solid var(--greylight);
  width: 220px;
  padding-bottom: 25px;
}

.filter-slider__range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter);
  border-radius: 5px;
}

.filter-slider__scale {
  height: 2px;
  background: #D7DCDE;
}

.filter-slider__bar {
  width: 80%;
  height: 2px;
  background: var(--special-greenlight)
}

.filter-slider__toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--wight);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.filter-slider__price-controls {
  display: flex;
  justify-content: space-between;
}

.filter-slider__price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 5px;
  background-color: var(--filter); 
}

.min-price::after {
  content: "-";
  width: 8px;
  height: 2px;
}

.filte-slider__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 15px;
}

.filter-checkbox {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-checkbox__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 16px;
  padding-bottom: 15px;
}

.filter-checkbox__list {
  list-style: none;
  margin: 0;
}

.filter-checkbox__label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.filter-radio {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-radio__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 16px;
}

.filter-radio__list {
  list-style: none;
}

.filter-radio__label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--black);
}

.filter-form__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--wight);
  border: 1px solid var(--basic-greyborder);
  padding: 10px 80px;
}

.filter-nav__wrap {
  background-color: var(--filter);
  display: flex;
  align-items: center;
}

.filter-nav__list {
  list-style: none;
  display: flex;
}

.filter-nav__item {
  border-bottom: 1px dotted var(--basic-red);
  margin-left: 25px;
  margin-right: 25px;
}

.filter-nav__item:hover {
  border-bottom: 1px solid var(--basic-red);
  color: var(--black);
}

.filter-nav__item:active {
  border: none;
}

.filter-nav__link {
  color: var(--black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.filter-nav__link:hover {
  opacity: 1;
}

.filter-nav__link:focus {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

    /* catalog */

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card__item {
  width: 220px;
  min-height: 318px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.catalog__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--black);
}

.catalog__subtitle {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--decor-grey);
}

.catalog__button {
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-red);
}

.pagination__list {
  list-style: none;
  margin-bottom: 59px;
}

.pagination__item {
  display: inline-block;
  background-color: var(--wight);
}

.pagination__link {
  border: 1px solid var(--basic-greyborder);
  border-radius: 2px;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.pagination__link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination__link:active {
  border: 1px solid var(--basic-red);
}

.pagination__link--active {
  color: var(--wight);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination__link--next {
  padding: 10px 32px;
}

    /* catalog-footer */

.catalog-footer {
  background-color: var(--basic-background);
}

.catalog-footer__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  padding-top: 64px;
  padding-bottom: 25px;
}

.catalog-footer__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 68px;
}

    /* popup-write */

.popup-write {
  margin: 0 auto;
  width: 620px;
  height: 430px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid var(--basic-red);
  background-color: var(--wight);
}

.popup-write__form-wrap {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 35px;
  padding-bottom: 34px;
}

.popup-write__label {
  display: block;
  padding-bottom: 11px;
}

.popup-write__label--textarea {
  padding-top: 13px;
}

.popup-write__wrap {
  display: flex;
  justify-content: space-between;
}

.popup-write__input {
  width: 220px;
  height: 38px;
  background-color: var(--wight);
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 12px;
}

.popup-write__input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__textarea {
  width: 460px;
  background-color: var(--wight);
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 7px 12px;
}

.popup-write__textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--decor-grey);
}

.popup-write__button-wrap {
  background-color: var(--grey-popup);
  padding: 37px 80px;
}

.popup-write__button {
  width: 460px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-red);
  color: var(--wight);
}

.modal {
  position: relative;
}

.popup-button__close {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup-button__close::before,
.popup-button__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 28px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 2px;
}

.popup-button__close::before {
  transform: rotate(45deg);
}

.popup-button__close::after {
  transform: rotate(-45deg);
}